* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
}

#calculadora {
    width: 400px;
    padding: .5em;
    background-color: #c4c4c4;
    color: #000;
    display: flex;
    flex-direction: column;
}

#calculadora h3 {
    font-size: .8em;
    font-weight: 300;
    color: #666;
}

#operacao {
    text-align: right;
}

#operacao__anterior, 
#operacao__atual {
    min-height: 1.6em;
    padding: .2em;
    overflow-wrap: break-word;
}

#operacao__anterior {
    color: #777;
}

#operacao__atual {
    font-size: 3em;
    font-weight: 700;
}

#botoes__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
}

#botoes__container button {
    border: 1px solid transparent;
    border-radius: 0;
    height: 4em;
    font-size: 1.2em;
    background-color: #dbdbdb;
    cursor: pointer;
}

#botoes__container button:hover {
    background-color: #BABABA;
    border-color: #999;
}

#botoes__container .numero {
    background-color: #F3F3F3;
}

#botoes__container #igual {
    grid-column: span 2;
    background-color: #75a5cb;
}

#botoes__container #igual:hover {
    background-color: #3a91d8;
}